<% @page_title = @trip.cdl_name %>


<div class="Subject show">
  <h2><%= @trip.cdl_name %>'s Trips</h2>

  <table summary="Subject detail view">
    <tr class="odd">
      <th>Empty 1</th>
      <td><%= status_tag(@trip.empty_1) %></td>
    </tr>
    <tr>
      <th>Empty 2</th>
      <td><%= status_tag(@trip.empty_2) %></td>
    </tr>
    <tr class="odd">
      <th>Empty 3</th>
      <td><%= status_tag(@trip.empty_3) %></td>
    </tr>
    <tr>
      <th>Empty 4</th>
      <td><%= status_tag(@trip.empty_4) %></td>
    </tr>
    <tr class="odd">
      <th>Full 1</th>
      <td><%= status_tag(@trip.full_1) %></td>
    </tr>
    <tr>
      <th>Full 2</th>
      <td><%= status_tag(@trip.full_2) %></td>
    </tr>
    <tr class="odd">
      <th>Full 3</th>
      <td><%= status_tag(@trip.full_3) %></td>
    </tr>
    <tr>
      <th>Full 4</th>
      <td><%= status_tag(@trip.full_4) %></td>
    </tr>
    <tr style="border: 1px">
      <th style="text-align: right;">Total:</th>
      <td style="text-align: center;"><%= @trip.total %></td>
    </tr>
  </table>
</div>
<br />
<br />
<%= button_to("<< Back to List", {:controller => 'cdls', :action => 'list'}, :class => 'back-link') %>